

.containerform{
    border:2px solid rgba(61, 60, 60, 0.64);
    padding: 40px;
    border-radius: 20px;
}

@media (min-width: 992px) { 
    .containerform{
        width: 35%;
        backdrop-filter: blur(5px);
       
    }
 }

 .dl{
    width: 90%;
 }
 