<nav
  class="navbar navbar-expand-lg bg-body-tertiary shadow-sm p-3 mb-5 bg-body-tertiary rounded"
>
  <div class="container">
    <a class="navbar-brand hred" routerLink="/"> H+</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 navlist gap-3">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink=""
            >Service</a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="">Home</a>
        </li>

        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            id="adminDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            >Login</a
          >
          <ul
            class="dropdown-menu droparea navlist"
            aria-labelledby="adminDropdown"
          >
            <li>
              <a class="dropdown-item" routerLink="/logindoc">Doctor</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/loginadmin">Admin</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
<app-carousel />
